.banner {
  background-image: url(https://media.swncdn.com/cms/CW/faith/58093-stairs-heaven-1200.1200w.tn.webp);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.container {
  width: 900px;
  margin: auto;
  text-align: center;
}

.banner-btn {
  display: inline-block;
  background-color: white;
  padding: 16px 36px;
  border-radius: 50px;
  color: black;
  box-shadow: 0 0 10px rgb(255 237 61 / 80%);
}

.banner-btn:hover {
  display: inline-block;
  background-color: rgb(255 237 61);
  padding: 16px 36px;
  border-radius: 50px;
  color: black;
  box-shadow: 0 0 10px rgb(255 237 61 / 90%);
}

