.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card:hover {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(255 237 61 / 80%);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.text-center {
  text-align: center;
}
